# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
__pycache__/
*.py[cod]
*$py.class

# Environments and sensitive data
.env
.venv
env/
venv/
ENV/
.python-version

# Project Specific - Files you don't want to track yet
# static/self_signup.js
# static/frontend/self_signup.js
# static/frontend/self_signup.css

# System files
.DS_Store
Thumbs.db

# Build artifacts
dist/
build/


# dedc att
backend_admin\fotasco_payroll\payroll\attendance_deductions.py"

# git rm --cached static/frontend/self_signup.js
1venv-/ 
venv/ 
